---

BasedOnStyle: Google
IndentWidth: 4
AlignConsecutiveMacros: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
ColumnLimit: 90
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
